<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <!--【请修改SQLite数据库路径】-->
    <add name="SqliteConn" providerName="Dos.ORM.Sqlite" connectionString="Data Source=D:\工作\GitHub\Dos.ORM.Demo\数据库\DosORMSqlite.sqlite3"/>

    <add name="MySqlConn" providerName="Dos.ORM.MySql" connectionString="Data Source=10.2.111.161;Database=testtfm;User Id=tfm;Password=ehl1234;Convert Zero Datetime=True;Allow Zero Datetime=True;"/>

    <add name="SqlServerConn" providerName="Dos.ORM.SqlServer9" connectionString="Server=.\sql2008r2;uid=sa;pwd=sa;database=DosORMSqlServer;"/>

    <add name="AccessConn" providerName="Dos.ORM.MsAccess" connectionString=""/>

    <add name="OracleConn" providerName="Dos.ORM.Oracle" connectionString="Data Source=10.2.111.161/orcl;User Id=atms;Password=ehl1234;"/>

    <add name="PostgreSqlConn" providerName="Dos.ORM.PostgreSql" connectionString=""/>
  </connectionStrings>
</configuration>
